@import url(Styles/cabecalho.css);
@import url(Styles/apresentacao.css);
@import url(Styles/pagina-nav.css);
@import url(Styles/galeria.css);
@import url(Styles/sobre.css);
@import url(Styles/espacador.css);
@import url(Styles/portifolio.css);
@import url(Styles/menu-suspenso.css);
@import url(Styles/media-querrys/media-1024.css);
@import url(Styles/media-querrys/media-600.css);

:root {
    /*CONFIGURAÇÕES*/
    --fonte-principal: "Poppins";

    /*CORES*/
    --cinza-principal: #121212;
    --cinza-secundario: #1f1f1f;
    --cinza-terciario: #dddddd;
    --cinza-links: #ababab;
    --preto-sombra: 1px 1px 15px 1px #0000001f;
    --branco: #ffffff;   
    --vermelho-alerta: #ff4545;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--cinza-principal);
    background-color: #F1FDFF;
    font-family: var(--fonte-principal);
}

::selection {
    background-color: rgb(242, 0, 255);
}