@import url(Styles/Componentes-Base/cabecalho.css);
@import url(Styles/Componentes-Base/apresentacao.css);
@import url(Styles/Componentes-Base/rodape.css);

@import url(Styles/Componentes-Especificos/Pag-Home/galeria.css);
@import url(Styles/Componentes-Especificos/Pag-Home/galeria2.css);
@import url(Styles/Componentes-Especificos/Pag-Home/galeria3.css);
@import url(Styles/Componentes-Especificos/Pag-Portfolio/portfolio.css);
@import url(Styles/Componentes-Especificos/Pag-Portfolio/Sub-Pag-Portfolio/espaco-portfolio.css);
@import url(Styles/Componentes-Especificos/Pag-Portfolio/Sub-Pag-Portfolio/resumo.css);
@import url(Styles/Componentes-Especificos/Pag-Sobre/bloco-sobre.css);
@import url(Styles/Componentes-Especificos/Pag-Sobre/curriculo.css);

@import url(Styles/Media-querrys/media-1600.css);
@import url(Styles/Media-querrys/media-1024.css);
@import url(Styles/Media-querrys/media-600.css);

:root {
    /*CONFIGURAÇÕES*/
    --fonte-principal: "Poppins";

    /*CORES*/
    --cinza-principal: #121212;
    --cinza-secundario: #1f1f1f;
    --cinza-terciario: #dddddd;
    --cinza-links: #ababab;
    --preto-sombra: 1px 1px 15px 1px #0000001f;
    --branco: #ffffff;   
    --vermelho-alerta: #ff4545;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--cinza-principal);
    background-image: linear-gradient(to right, #e7fdff, #efe3ff);
    font-family: var(--fonte-principal);
}

::selection {
    background-color: rgb(242, 0, 255);
}

main {
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
    }
}