/*GALERIA3*/

    .galeria3 {
        width: 100%;
    }

    .bloco__galeria3 {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 30px auto 80px;
        box-shadow: var(--preto-sombra);
        background-color: var(--branco);
    }

    /*BLOCO TEXTO*/

        .bloco__texto {
            width: 100%;
            padding: 26px;
            box-sizing: border-box;
            background-color: var(--cinza-secundario);
            color: var(--branco);
            text-align: right;
            transition: 0.6s;
            color: var(--cinza-terciario);

        }

        .bloco__texto:hover {
            background-color: rgb(201, 39, 98);
            color: var(--branco);
            transition: 0.6s;
        }

        .bloco__texto:hover a {
            transition: 0.6s;
            color: var(--branco);
        }

        .bloco__texto h2 {
            margin: 0 0 25px 0;
        }

        .bloco__texto p {
            font-size: 1em;
            text-wrap: wrap;
            margin-bottom: 20px;
        }

        .bloco__texto a {
            font-size: 1em;
            text-wrap: wrap;
            text-decoration: none;
            color: var(--cinza-terciario);
        }

    /*FIM BLOCO TEXTO*/

/*FIM GALERIA3*/
