/*GALERIA2*/

    .galeria2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .bloco__galeria2 {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 30px auto 0px;
        box-shadow: var(--preto-sombra);
        background-color: var(--branco);
    }

    .bloco__descricao2 {
        width: 25%;
        padding: 26px;
        box-sizing: border-box;
        background-color: var(--cinza-secundario);
        color: var(--cinza-terciario);
        text-align: right;
    }

    .bloco__descricao2 h2 {
        margin: 0 0 25px 0;
    }

    .bloco__descricao2 a {
        color: var(--cinza-terciario);
        text-decoration: none;
    }

    .bloco__visualizacao2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 75%;
        padding: 0;
    }

    .bloco__visualizacao2 li {
        display: flex;
        flex-direction: column;
        width: 33.33%;
        list-style: none;
    }

    .sub__bloco__visualizacao2 {
        width: 100%;
        height: auto;
        background-size: cover;
        list-style: none;
    }

    .sub__bloco__visualizacao2 img {
        width: 100%;
        height: 100%;
    }

    .sub__bloco__visualizacao2:hover {
        -ms-transform: scale(1.3);
        transform: scale(1.1);
        transition: 0.2s;
        width: 100%;
        height: 100%;
    }

    .bloco__legenda__galeria2 {
        width: 80%;
        background-color: var(--cinza-secundario);
        color: var(--cinza-terciario);
        padding: 40px 26px;
        box-sizing: border-box;
        text-align: end;
        box-shadow: var(--preto-sombra);
    }

/*FIM GALERIA2*/