#pag__crimson {
    border-top: solid 10px crimson;
}

#pag__dodgerblue {
    border-top: solid 10px dodgerblue;
}

#pag__blueviolet {
    border-top: solid 10px blueviolet;
}

.espaco__portifolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.ancora {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background-color: var(--branco);
    width: 46%;
    box-sizing: border-box;
    box-shadow: var(--preto-sombra);
}

.ancora__atividades {
    width: 29%;
}

.espaco__portifolio .ancora__sites:hover {
    opacity: 60%;
}

.espaco__portifolio div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 15px 0;
}

.espaco__portifolio h4 {
    font-weight: bold;
    margin: 0 auto 15px 0;}

.espaco__portifolio p {
    font-size: 0.8em;
    text-align: justify;
    margin: 0 15px 15px;
    display: flex;
    align-items: center;
}

#box__status {
    margin: 0 0 15px 0;
}

.bt__voltar__portifolio {
    margin-top: 30px;
    text-decoration: none;
    color: var(--cinza-links);
}

.icone__olho {
    filter: invert(1);
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.miniatura__site {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 15px;
}

.miniatura__atividade {
    width: 100%;
    border-radius: 0 0 20px 20px;
}