@media screen and (max-width: 1024px) {

    /*cabecalho.css*/

        .cabecalho {
            padding: 0 0 0 20px;
            opacity: 100%;
            position: relative;
        }

        .cabecalho__nome2 {
            display: none;
        }

        .cabecalho__logo {
            width: 40px;
            height: 40px;
        }

        .cabecalho__nav {
            display: none;
        }

        .menu__mobile {
            display: flex;
        }

    /*fim cabecalho.css*/

    /*pagina-nav.css*/

        .pagina__nav a {
            font-size: 2vw;
        }

    /*fim pagina-nav.css*/

    /*galeria.css*/
    
        .bloco__galeria {
            flex-direction: column;
            width: 95%;
        }
        
        .bloco__descricao {
            width: 100%;
        }
        
        .bloco__descricao h2 {
            font-size: 1.5em;
        }

        .bloco__descricao p {
            font-size: 1em;
        }

        .bloco__visualizacao {
            width: 100%;
            flex-direction: column;
        }
        
        .bloco__visualizacao li {
            flex-direction: row;
            width: 100%;
        }
        
        .sub__bloco__visualizacao {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
        }

        .sub__bloco__visualizacao img {
            border-radius: 10px;
        }

        .sub__bloco__visualizacao:hover {
            transform: scale(1.03);
        }

        .sub__bloco__visualizacao:hover img {
            width: calc(100% + 20px);
            height: calc(100% + 20px);
        }

        .capa__preta {
            border-radius: 10px;
        }

    /*fim galeria.css*/

    /*sobre.css*/

        .bloco__sobre {
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin: 20px 0;
        }

        .resumo__sobre p {
            margin: 10px 0;
        }

        .resumo__sobre {
            width: 90%;
            height: auto;
        }

        .bt__ver__curriculum {
            display: none;
        }

        .bt__ver__curriculum__mobile {
            margin: 0 auto 40px 0;
            display: flex;
        }
    
        .redes__sobre {
            margin-top: 30px;
            width: 90%;   
            height: auto;
        }

        .redes__sociais {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .redes__sociais a {
            width: 33.33%;
            margin: 0;
            border: none;
        }

        .botoes__redes__sociais {
            width: 80%;
        }

        .insta {
            background-image: linear-gradient(to right, #ff8400, #ff008f);
            border-color: var(--branco);
            color: var(--branco);
            font-weight: bold;
        }
    
        .linkedin {
            background-image: linear-gradient(to right, #3668ff, #005ae0);
            border-color: var(--branco);
            color: var(--branco);
            font-weight: bold;
        }
    
        .github {
            background-image: linear-gradient(to right, #81007d, #070058);
            border-color: var(--branco);
            color: var(--branco);
            font-weight: bold;
        }

        .curriculo {
            width: 90%;
            margin: 20px auto;
        }

        .conteudo {
            flex-direction: column;
        }

        .subconteudo {
            width: 100%;
            box-sizing: border-box;
        }

        .habilidades {
            flex-direction: column;
        }

        .bt__imprimir {
            width: 100%;
        }

    /*fim sobre.css*/
    

    /*portifolio.css*/

        .portifolio {
            flex-direction: column;
            width: 95%;
        }

        .card__portifolio {
            width: auto;
            margin: 0 0 60px 0;
        }

        .cabecalho__card p {
            font-size: 2vw;
        }

        .card__portifolio:hover {
            -ms-transform: scale(1);
            transform: scale(1);
        }

        .capa__card {
            font-size: 4vw;
        }

    /*fim portifolio.css*/

    /*menu-susp.css*/

        .menu__suspenso {
            display: flex;
        }

    /*fim menu-susp.css*/

}    
