@media screen and (max-width: 1024px) {

    /*cabecalho.css*/

        .cabecalho {
            padding: 0 0 0 20px;
            opacity: 100%;
            position: relative;
        }

        .cabecalho__nome2 {
            display: none;
        }

        .cabecalho__logo {
            width: 40px;
            height: 40px;
        }

        .cabecalho__nav {
            display: none;
        }

        .menu__mobile {
            display: flex;
        }

    /*fim cabecalho.css*/

    /*apresentacao.css*/
        
        .apresentacao {
            margin: 0;
        }
    
    /*fim apresentacao.css*/

    /*galeria.css*/

        .bloco__galeria {
            flex-direction: column;
            margin: 0px auto 40px;
            width: 90%;
            border-radius: 10px;
        }
        
        .bloco__descricao {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
        
        .bloco__visualizacao {
            width: 100%;
        }
        
        .sub__bloco__visualizacao {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
        }

        .sub__bloco__visualizacao img {
            border-radius: 10px;
        }

        .sub__bloco__visualizacao:hover {
            transform: scale(1.03);
        }

        .capa__preta {
            border-radius: 10px;
            bottom: auto;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
        }

    /*fim galeria.css*/

    /*galeria2.css*/

        .galeria2 {
            margin-bottom: 40px;
            border-radius: 10px;
        }
    
        .bloco__galeria2 {
            margin: 0px auto 0px;
            width: 90%;
            border-radius: 10px;
        }

        .bloco__descricao2 {
            border-radius: 10px 10px 0 0 ;
        }

        .bloco__descricao a {
            font-size: 1em;
        }

        .bloco__visualizacao2 {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0;
        }

        .bloco__visualizacao2 li {
            display: flex;
            flex-direction: row;
            list-style: none;
        }

        .sub__bloco__visualizacao2 {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }

        #img1 {
            border-radius: 0 0 0 10px;
        }

        #img2 {
            border-radius: 0 0 10px 0;
        }

    /*fim galeria2.css*/

    /*galeria3.css*/
    
        .bloco__galeria3 {
            flex-direction: column;
            margin: 0px auto;
            width: 90%;
            border-radius: 10px;
        }

        .bloco__texto {
            border-radius: 10px;
            padding: 26px;
        }

    /*fim galeria3.css*/

    /*sobre.css*/

        .bloco__sobre {
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin: 0px;
        }

        .resumo__sobre p {
            margin: 10px 0;
        }

        .resumo__sobre {
            width: 90%;
            height: auto;
            border-radius: 10px;
        }

        .bt__ver__curriculum {
            display: none;
        }

        .bt__ver__curriculum__mobile {
            margin: 0 auto 20px 0;
            display: flex;
        }
    
        .redes__sobre {
            margin-top: 40px;
            width: 90%;   
            height: auto;
            border-radius: 10px;
        }

        .cabecalho__redes__sobre {
            border-radius: 10px 10px 0 0;
        }

        .redes__sociais {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .redes__sociais a {
            width: 33.33%;
            margin: 0;
            border: none;
        }

        .botoes__redes__sociais {
            width: 80%;
        }

        .insta {
            background-image: linear-gradient(to right, #ff8400, #ff008f);
            border-color: var(--branco);
            color: var(--branco);
            font-weight: bold;
            border-radius: 0 0 0 10px;
        }
    
        .linkedin {
            background-image: linear-gradient(to right, #3668ff, #005ae0);
            border-color: var(--branco);
            color: var(--branco);
            font-weight: bold;
            border-radius: 0;
        }
    
        .github {
            background-image: linear-gradient(to right, #81007d, #070058);
            border-color: var(--branco);
            color: var(--branco);
            font-weight: bold;
            border-radius: 0 0 10px 0;
        }

        .curriculo {
            width: 90%;
            margin: 0px auto;
            border-radius: 10px;
        }

        .conteudo {
            flex-direction: column;
        }

        .subconteudo {
            width: 100%;
            box-sizing: border-box;
        }

        .habilidades {
            flex-direction: column;
        }

        .bt__imprimir {
            width: 100%;
        }

    /*fim sobre.css*/

    /*portfolio.css*/

        .portfolio {
            flex-direction: column;
            width: 90%;
            margin-bottom: 0px;
            align-items: center;
        }

        .card__portfolio {
            width: auto;
            margin: 0 0 40px 0;
            border-radius: 10px;
        }

        .cabecalho__card {
            border-radius: 10px;
            color: var(--branco);
        }

        .cabecalho__card a {
            display: flex;
            width: fit-content;
        }

        .conteudo__card {
            display: none;
        }

        .capa__card {
            font-size: 1em;
            border-radius: 10px;
        }

        .card__portfolio:hover {
            -ms-transform: scale(1);
            transform: scale(1);
        }

        .card__portfolio:hover .capa__card {
            display: none;
        }
        
        #trblhs__grfcs__id .cabecalho__card {
            background-image: linear-gradient(to right, darkorchid, #771a92);
        }
        
        #frnt__end__id .cabecalho__card {
            background-image: linear-gradient(to right, indigo, #24193c);
        }

        #atv__acdm__id .cabecalho__card {
            background-image: linear-gradient(to right, dodgerblue, #1617f7);
        }

        #atv__acdm__id {
            margin: 0;
        }

    /*fim portfolio.css*/

    /*espaco-portfolio.css*/

        .bt__voltar__portfolio {
            margin: 15px;
        }

        .espaco__portfolio {
            margin: 0px;
        }

        .espaco__portfolio a {
            margin: 0 15px 30px;
            width: 44%;
        }

        .espaco__portfolio {
            width: 95%;
        }

    /*fim espaco-portfolio.css*/

    /*menu-susp.css*/

        .menu__suspenso {
            display: flex;
        }

    /*fim menu-susp.css*/

    /*resumo.css*/
    
        .resumo {
            width: 95%;
        }

        .box__resumo {
            margin: 0 15px 30px;
        }

    /*fim resumo.css*/


    /*rodape*/

        .rodape {
            flex-direction: column;
            align-items: center;
        }
    
    /*rodape*/

}