.convite__portifolio {
    width: 100%;
}

.bloco__convite__portifolio {
    width: 80%;
    height: 300px;
    margin: 0 auto 40px;
    box-shadow: var(--preto-sombra);
    background-color: var(--branco);
}