/*GALERIA*/

    .galeria {
        width: 100%;
    }

    .bloco__galeria {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 30px auto;
        box-shadow: var(--preto-sombra);
        background-color: var(--branco);
    }

    /*DESCRICAO*/

        .bloco__descricao {
            width: 25%;
            padding: 40px;
            box-sizing: border-box;
            background-color: var(--branco);
            text-align: right;
        }

        .bloco__descricao h2 {
            margin: 0 0 30px 0;
            font-size: 2vw;
        }

        .bloco__descricao p {
            font-size: 1.2vw;
            text-wrap: wrap;
        }

    /*FIM DESCRICAO*/

    /*VISUALIZACAO*/

        .bloco__visualizacao {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 75%;
            padding: 0;
        }

        .bloco__visualizacao li {
            display: flex;
            flex-direction: column;
            width: 33.33%;
            list-style: none;
        }

        .sub__bloco__visualizacao {
            width: 100%;
            height: auto;
            background-size: cover;
            list-style: none;
        }

        .sub__bloco__visualizacao img {
            width: 100%;
            height: 100%;
        }

        .sub__bloco__visualizacao:hover {
            -ms-transform: scale(1.3);
            transform: scale(1.1);
            transition: 0.2s;
            width: 100%;
            height: 100%;
        }

        .capa__preta {
            display: none;
            position: absolute;
            bottom: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 80%;
            color: var(--branco);
        }

        .sub__bloco__visualizacao:hover .capa__preta {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            text-wrap: wrap;
        }

    /*FIM VISUALIZACAO*/

    /*BT GALERIA*/

        .input__abrir__fechar {
            display: none;
        }

        .bt__voltar__galeria {
            display: none;
            width: 100%;
            height: 50px;
            background-color: var(--branco);
            padding: 10px;
            box-sizing: border-box;
        }

        .bt__abrir__fechar {
            display: none;
            width: 95%;
            height: 40px;
            background-color: var(--cinza-principal);
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            transition: 0.5s;
        }

        .icon__bt__galeria {
            width: 15%;
            height: 10%;
            border-radius: 10px;
            background-color: var(--branco);
        }

        .bt__voltar__galeria {
            display: none;
            justify-content: center;
        }

        .bt__voltar__galeria a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--cinza-links);
        }

    /*FIM SBT GALERIA*/

/*FIM GALERIA*/